:root {
    --background-color: #111111;
    --primary-color: #3a3a3a;
    --secondary-color: #555555;
    --brighter-secondary-color: #666666;
    --tertiary-color: #e9be00;
    --darker-tertiary-color: #bda125;
    --active-tab-z-index: 100;
    --active-tab-box-shadow: 2px 0 5px rgba(0, 0, 0, 1);
    --line-color: var(--tertiary-color); /* Changeable line color */
    --dot-size: 10px; /* Thicker dot */
    --line-width: 3px; /* Thicker line */
}

body {
    background-color: var(--primary-color);
    text-align: center;
    align-content: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
}

.login {
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw - 125px);
    background-color: var(--secondary-color);
    border: var(--line-width) solid var(--line-color);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px black inset;
    width: 250px;
}

.login h1 {
    color: var(--tertiary-color);
    text-shadow: 0 0 5px black;
    font-weight: bold;
    font-size: 30px;
    user-select: none;
}

.login input {
    display: block;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    width: 230px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-size: large;
    transition: 0.25s;
}

.login input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--tertiary-color), 0 0 10px var(--tertiary-color) inset;
}

.login button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: var(--brighter-secondary-color);
    color: var(--tertiary-color);
    text-shadow: 0 0 5px black;
    font-weight: bold;
    font-size: large;
    border: var(--tertiary-color) 2px solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px black inset;
    transition: 0.25s;
}

.login button:hover {
    box-shadow: 0 0 10px var(--tertiary-color), 0 0 10px var(--tertiary-color) inset;
}